@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Micro+5&display=swap");
@import "tailwindcss";

@theme {
  --color-jet: #2a2a2a;
  --color-orange-tabby: #e76f2e;
  --font-micro: "Micro 5", sans-serif;
  --font-jersey: "Jersey 10", monospace;
}

@layer base {
  body {
    color: rgb(185, 185, 185);
    font-family: var(--font-micro);
  }

  h1 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-jersey);
  }
}
